<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="language" content="en"/>

    <link rel="stylesheet" type="text/css" href="{{ App.request.baseUrl }}/css/oxygen.css"
    " />
    <link rel="alternate" type="application/rss+xml" href="{{App.request.baseUrl}}feed/rss/" title="RSS"/>
    <link rel="shortcut icon" href="{{App.request.baseUrl}}favicon.ico"/>

    <title>{% block title %}{{ C.Html.encode(this.pageTitle) }}{% endblock %}</title>

    {% endblock %}
</head>

<body>


<div id="brd-wrap" class="brd">

    <div id="brd-index" class="brd-page basic-page">
        <!-- page header -->
        <div id="brd-head" class="gen-content">
            <p id="brd-title"><a href="{{App.request.baseUrl}}">{{C.Html.encode(App.name)}}</a></p>

            <p id="brd-desc">{{site_description}}</p>
        </div>

        <!-- top nav -->
        <div id="brd-navlinks" class="gen-content">

            {{ this.widget('zii.widgets.CMenu',{
			'items': [
				{'label':'Home', 'url':['/site/index'] },
				{'label':'About', 'url':{'0': '/site/about'}},
            {'label':'Contact', 'url':['/site/contact']},
            {'label':'Login', 'url':['/site/login'], 'visible': App.user.isGuest},
            {'label':'Logout', 'url':['/site/logout'], 'visible': not App.user.isGuest}
            ]
            },true)|raw }}
        </div>

        <!-- if user.isGuest -->
        {% if App.user.isGuest %}
        <div id="brd-visit" class="gen-content">
            <p id="welcome">{{login_reminder}}</p>
        </div>
        {% endif %}
        <div class="hr">
            <hr/>
        </div>

        <!-- bread crumb -->
        <div id="brd-crumbs-top" class="crumbs">
            <p><span class="crumb crumbfirst"><a href="http://punbb.informer.com/forums/">PunBB Forums</a></span> <span class="crumb crumblast"><span> →&nbsp;</span>Login to PunBB Forums</span> </p>
        </div>


        <!-- content -->
        <div id="brd-main">
            {% block content %}

            {% endblock %}
        </div>

    </div>

    <!-- content brd-main end -->
    {%if show_index_stats %}
    <!-- statistics: only on the front page -->
    <div id="brd-stats" class="gen-content">
        <h2 class="hn"><span>Forum statistics</span></h2>
        <ul>
            <li class="st-users"><span>Total number of registered users: <strong>{{users_count}}</strong></span></li>
            <li class="st-activity"><span>Total number of topics: <strong>{{topics_count}}</strong></span></li>
            <li class="st-activity"><span>Total number of posts: <strong>{{posts_count}}</strong></span></li>
        </ul>
    </div>
    <!-- statistics end -->
    {% endif %}

    <div class="hr">
        <hr/>
    </div>

    <!-- footer -->

    <div id="brd-about">
        <p id="copyright">Powered by <a href="https://github.com/masroore/tinybb" target="_blank">TinyBB</a>.</p>
    </div>
    <!-- footer end -->

</div>
<!-- brd-index -->

</div>
<!-- brd-wrap -->

</body>
</html>

